<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
  <div class="flex justify-end">
    <button
      class="bg-blue-500 cursor-pointer hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
    >
      <!-- (click)="handleOpenModel()" -->
      Take Loan
    </button>
    <!-- Modal -->
  </div>
  <table class="w-full text-sm text-left rtl:text-right text-gray-500">
    <thead class="text-xs text-gray-700 uppercase bg-gray-50">
      <tr>
        <th scope="col" class="px-6 py-3">ID</th>
        <th scope="col" class="px-6 py-3">LOAN ID</th>
        <th scope="col" class="px-6 py-3">USER NAME</th>
        <th scope="col" class="px-6 py-3">AMOUNT</th>
        <th scope="col" class="px-6 py-3">TERMS MONTH</th>
        <th scope="col" class="px-6 py-3">INTERESTED RATE</th>
        <th scope="col" class="px-6 py-3">STATUS</th>
        <!-- <th scope="col" class="px-6 py-3">Actions</th> -->
        <th scope="col" class="px-6 py-3">Date</th>
        <!-- <th scope="col" class="px-6 py-3">Actions</th> -->
      </tr>
    </thead>
    @for (loan of loans(); track $index) {
    <tbody>
      <tr class="odd:bg-white even:bg-gray-50 border-b border-gray-200">
        <th
          scope="row"
          class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap"
        >
          {{ $index + 1 }}
        </th>
        <td class="px-6 py-4">{{ loan.id }}</td>
        <td class="px-6 py-4">{{ loan.userName }}</td>
        <td class="px-6 py-4">{{ loan.amount | currency }}</td>
        <td class="px-6 py-4">{{ loan.termMonths }}</td>
        <td class="px-6 py-4">{{ loan.interestRate }}</td>
        <td class="px-6 py-4">
          <span
            [class]="
              loan.status === 'approved'
                ? 'bg-green-500 text-white p-1.5 text-xs rounded-sm hover:bg-green-600 cursor-pointer'
                : loan.status === 'pending'
                ? 'bg-yellow-500 text-white p-1.5 text-xs rounded-sm hover:bg-yellow-600 cursor-pointer'
                : 'bg-red-500 text-white p-1.5 text-xs rounded-sm hover:bg-red-600 cursor-pointer'
            "
          >
            {{ loan.status | uppercase }}
          </span>
        </td>
        <td class="px-6 py-4">{{ loan.createdAt | date : "medium" }}</td>
        <!-- <td class="px-6 py-4">
            <a
              routerLink="/users/{{ tran.id }}"
              class="font-medium text-blue-600 hover:underline"
              >Edit</a
            > -->
        <!-- delete button -->
        <!-- <button
                (click)="deleteUser(tran.id)"
                class="font-medium text-white rounded-md cursor-pointer bg-red-500 ml-2 py-1 px-3 hover:underline"
              >
                Delete
              </button> -->
        <!-- </td> -->
      </tr>
    </tbody>
    }
  </table>
</div>
